In [174]:
#import pandas and datetime
import pandas as pd
import datetime

In [175]:
#read in data set from Kaggle People HR Analytics Repository: https://www.kaggle.com/HRAnalyticRepository/employee-attrition-data/version/2
df = pd.read_csv(r"/Users/andrewwrist/Documents/Projects/MFG10YearTerminationData_raw.csv")
df.head()

,EmployeeID,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_name,gender_short,gender_full,termreason_desc,termtype_desc,STATUS_YEAR,STATUS,BUSINESS_UNIT
0,1318,12/31/06 0:00,1/3/54,8/28/89,1/1/00,52,17,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2006,ACTIVE,HEADOFFICE
1,1318,12/31/07 0:00,1/3/54,8/28/89,1/1/00,53,18,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2007,ACTIVE,HEADOFFICE
2,1318,12/31/08 0:00,1/3/54,8/28/89,1/1/00,54,19,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2008,ACTIVE,HEADOFFICE
3,1318,12/31/09 0:00,1/3/54,8/28/89,1/1/00,55,20,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2009,ACTIVE,HEADOFFICE
4,1318,12/31/10 0:00,1/3/54,8/28/89,1/1/00,56,21,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2010,ACTIVE,HEADOFFICE

In [176]:
#rename columns to more friendly names
df.columns = df.columns.str.replace('_key','') #remove _key from end of column names
df = df.rename(columns = {'EmployeeID': 'emplid', 'recorddate':'status_date', 'birthdate':'birth_date','orighiredate':'hire_date', 'terminationdate':'term_date', 'department_name':'dept_descr', 'gender_short':'gender', 'gender_full':'gender_descr','termreason_desc':'term_reason','termtype_desc':'term_type','STATUS_YEAR':'status_year','STATUS':'status','BUSINESS_UNIT':'business_unit'}) #rename column names to more friendly/consistent names
df

,emplid,status_date,birth_date,hire_date,term_date,age,length_of_service,city_name,dept_descr,job_title,store_name,gender,gender_descr,term_reason,term_type,status_year,status,business_unit
0,1318,12/31/06 0:00,1/3/54,8/28/89,1/1/00,52,17,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2006,ACTIVE,HEADOFFICE
1,1318,12/31/07 0:00,1/3/54,8/28/89,1/1/00,53,18,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2007,ACTIVE,HEADOFFICE
2,1318,12/31/08 0:00,1/3/54,8/28/89,1/1/00,54,19,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2008,ACTIVE,HEADOFFICE
3,1318,12/31/09 0:00,1/3/54,8/28/89,1/1/00,55,20,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2009,ACTIVE,HEADOFFICE
4,1318,12/31/10 0:00,1/3/54,8/28/89,1/1/00,56,21,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2010,ACTIVE,HEADOFFICE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49648,8258,12/1/15 0:00,5/28/94,8/19/13,12/30/15,21,2,Valemount,Dairy,Dairy Person,34,M,Male,Layoff,Involuntary,2015,TERMINATED,STORES
49649,8264,8/1/13 0:00,6/13/94,8/27/13,8/30/13,19,0,Vancouver,Customer Service,Cashier,44,F,Female,Resignaton,Voluntary,2013,TERMINATED,STORES
49650,8279,12/1/15 0:00,7/18/94,9/15/13,12/30/15,21,2,White Rock,Customer Service,Cashier,39,F,Female,Layoff,Involuntary,2015,TERMINATED,STORES
49651,8296,12/1/13 0:00,9/2/94,10/9/13,12/31/13,19,0,Kelowna,Customer Service,Cashier,16,F,Female,Resignaton,Voluntary,2013,TERMINATED,STORES
49652,8321,12/1/14 0:00,11/28/94,11/24/13,12/30/14,20,1,Grand Forks,Customer Service,Cashier,13,F,Female,Layoff,Involuntary,2014,TERMINATED,STORES

In [182]:
#take out 1/1/00 dates
df = df.replace('1/1/00','')

In [183]:
#Expand yearly status dates to monthly
df2 = df #create copy data frame
df2['status_date'] = pd.to_datetime(df2['status_date']) #convert status_date to datetime for indexing
df2 = df2.set_index('status_date').groupby('emplid',group_keys=False).resample('M').bfill().reset_index() #set index by status date and group by employee id
df2

,status_date,emplid,birth_date,hire_date,term_date,age,length_of_service,city_name,dept_descr,job_title,store_name,gender,gender_descr,term_reason,term_type,status_year,status,business_unit
0,2006-12-31,1318.0,1/3/54,8/28/89,,52.0,17.0,Vancouver,Executive,CEO,35.0,M,Male,Not Applicable,Not Applicable,2006.0,ACTIVE,HEADOFFICE
1,2007-01-31,1318.0,1/3/54,8/28/89,,53.0,18.0,Vancouver,Executive,CEO,35.0,M,Male,Not Applicable,Not Applicable,2007.0,ACTIVE,HEADOFFICE
2,2007-02-28,1318.0,1/3/54,8/28/89,,53.0,18.0,Vancouver,Executive,CEO,35.0,M,Male,Not Applicable,Not Applicable,2007.0,ACTIVE,HEADOFFICE
3,2007-03-31,1318.0,1/3/54,8/28/89,,53.0,18.0,Vancouver,Executive,CEO,35.0,M,Male,Not Applicable,Not Applicable,2007.0,ACTIVE,HEADOFFICE
4,2007-04-30,1318.0,1/3/54,8/28/89,,53.0,18.0,Vancouver,Executive,CEO,35.0,M,Male,Not Applicable,Not Applicable,2007.0,ACTIVE,HEADOFFICE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
520684,2015-08-31,8336.0,12/31/94,12/11/13,,21.0,2.0,Vancouver,Dairy,Dairy Person,35.0,M,Male,Not Applicable,Not Applicable,2015.0,ACTIVE,STORES
520685,2015-09-30,8336.0,12/31/94,12/11/13,,21.0,2.0,Vancouver,Dairy,Dairy Person,35.0,M,Male,Not Applicable,Not Applicable,2015.0,ACTIVE,STORES
520686,2015-10-31,8336.0,12/31/94,12/11/13,,21.0,2.0,Vancouver,Dairy,Dairy Person,35.0,M,Male,Not Applicable,Not Applicable,2015.0,ACTIVE,STORES
520687,2015-11-30,8336.0,12/31/94,12/11/13,,21.0,2.0,Vancouver,Dairy,Dairy Person,35.0,M,Male,Not Applicable,Not Applicable,2015.0,ACTIVE,STORES
520688,2015-12-31,8336.0,12/31/94,12/11/13,,21.0,2.0,Vancouver,Dairy,Dairy Person,35.0,M,Male,Not Applicable,Not Applicable,2015.0,ACTIVE,STORES

In [184]:
#export to CSV
df2.to_csv('HR_Data_by_Month_End_Date2.csv', index = False)